.homework07-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1;
    padding: 40px;
    /* padding — это CSS-свойство, которое задает внутренние отступы элемента, 
    то есть расстояние между его содержимым и границей (рамкой). */
    background-color: aliceblue;
}